.gradle/
.kotlin/
.idea/
**/build/
local.properties
app/google-services.json
*.jks
*.keystore
*.properties.local
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/node_modules/
functions/lib/
captures/
*.iml
dist/InControPedale-Bike4City-tester-v0.1.0.apk
